.form {
  width: 311px;
  height: 348px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  gap: 32px;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  color: #323f47;
  text-align: left;
}

/* .formGroup {
    width: 100%;  
    display: flex;
    flex-direction: column;
  } */

.formElement {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px !important;
  line-height: 1.28571;
  color: #2f2f2f;
  margin: 0;
  text-align: start;
}

.input {
  font-family: "Poppins", sans-serif;
  width: 100% !important;
  border: 1px solid rgba(47, 47, 47, 0.2);
  height: 50px !important;
  border-radius: 15px;
  padding: 0 16px;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 1.28571;
  color: rgba(47, 47, 47, 0.6);
  box-sizing: border-box;
  background: #f0eff4;
}

.input:focus {
  outline: none;
  border: 1px solid rgba(47, 47, 47, 0.2);
}

.input:active {
  outline: none;
  border: 1px solid rgba(47, 47, 47, 0.4);
}

/* input:-webkit-autofill {
  background: #f0eff4 !important; 
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; 
  -webkit-text-fill-color: rgba(47, 47, 47, 0.6) !important; 
  border: 1px solid rgba(47, 47, 47, 0.2); 
} */

.inputError {
  border: 1px solid #ef5050;
}

.passwordWrapper {
  position: relative;
  width: 100%;
}

.eyeIcon {
  display: none;
}

.box {
  width: 100%;
  height: 84px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 50px;
  background-color: #9be1a0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #323f47;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.button:hover {
  background-color: #87d28d;
}

.text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 1.28571;
  color: #2f2f2f;
  text-align: center;
  margin: 0;
}

.link {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px !important;
  line-height: 1.28571;
  color: #2f2f2f;
  text-decoration: underline;
}

.error {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: #ef5050;
  text-align: left;
}

/* .notification{
  position: fixed;
  top: 10px; 
  right: 10px; 
  padding: 5px 10px;
  min-width: 200px;
  height: 60px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notificationError{
  background-color: #ef5050; 
  color: white;
}

.notificationSuccess {
  background-color: #87d28d; 
  color: white;
} */

@media screen and (min-width: 768px) {
  .form {
    width: 436px;
    height: 398px;
  }

  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.05556;
  }

  .label {
    font-weight: 700;
    font-size: 16px !important;
    line-height: 1.5;
  }

  .input {
    height: 56px !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }

  .eyeIcon {
    display: block;
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
    fill: none;
    stroke: #323f47;
  }

  .box {
    height: 100px;
  }

  .button {
    height: 60px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
  }

  .text {
    font-weight: 400;
    font-size: 16px !important;
    line-height: 1.5;
  }

  .link {
    font-size: 16px !important;
    line-height: 1.5;
  }

  /* .notification{
    top: 20px; 
    right: 20px; 
    padding: 10px 20px;
    min-width: 400px;
    height: 80px;
    font-weight: 700;
    font-size: 22px;
  } */
}

@media (min-width: 1440px) {
  .form {
    width: 436px;
    height: 398px;
  }

  .eyeIcon {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 24px;
    height: 24px;
    color: #2f2f2f;
  }
}
