.container {
  width: 343px;
  height: 415px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  background-color: #9be1a0;
}
.logo {
  position: absolute;
  top: 24px;
  left: 16px;
}

.dailyNorma {
  position: absolute;
  top: 122px;
  left: 16px;
}

.progressBar {
  position: absolute;
  top: 50px;
  left: 41px;
}
.addWater {
  position: absolute;
  bottom: 32px;
  right: 16px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 704px;
    height: 578px;
  }
  .logo {
    top: 32px;
    left: 33px;
  }
  .dailyNorma {
    top: 157px;
    left: 32px;
  }
  .progressBar {
    top: 69px;
    left: 165px;
  }
  .addWater {
    bottom: 64px;
    right: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 672px;
    height: 736px;
  }
  .dailyNorma {
    left: 64px;
  }
  .progressBar {
    top: 92px;
    left: 100px;
  }
}
