.registerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantagesSection {
  display: none;
}

@media screen and (min-width: 1440px) {
  .registerPage {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
  }

  .advantagesSection {
    display: block;
    flex-shrink: 0;
  }
}
