.container {
  padding: 24px 16px 170px 16px;
  border-radius: 30px;
  background-color: #f0eff4;
  width: 343px;
}

.logo {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.01em;
  display: flex;
  justify-content: left;
  margin-bottom: 126px;
}

.form {
  width: 100%;
  height: 440px;
}

.wrapForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.titleSingUp {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #323f47;
  margin-bottom: 32px;
}

.formEl {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.label {
  padding-bottom: 8px;
}

.span {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2f2f2f;
}

.svgSingUp {
  fill: none;
  stroke: #323f47;
}

.inputWrap {
  position: relative;
  width: 100%;
}

form .wrapForm .formEl .inputWrap input[type="email"],
form .wrapForm .formEl .inputWrap input[type="text"],
form .wrapForm .formEl .inputWrap input[type="password"] {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border: 1px solid #2f2f2f33;
  width: 100%;
  height: 50px;
  border-radius: 15px;
  background-color: #f0eff4;
  padding: 16px 40px 16px 16px;
  margin: 0;
}

form .wrapForm .formEl .inputWrap input[type="email"]:focus,
form .wrapForm .formEl .inputWrap input[type="text"]:focus,
form .wrapForm .formEl .inputWrap input[type="password"]:focus {
  outline: 1px solid #2f2f2f33;
  border-color: none;
  box-shadow: none;
}

form .wrapForm .formEl .inputWrap input[type="email"].error,
form .wrapForm .formEl .inputWrap input[type="text"].error,
form .wrapForm .formEl .inputWrap input[type="password"].error {
  outline: 1px solid #ef5050;
}

.labelIcons {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.textError {
  color: #ef5050;
}

.divBtn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.singUpBtn {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 16px;
  border: none;
  border-radius: 30px;
  background-color: #9be1a0;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #323f47;
}

.singUpBtn:hover,
.singUpBtn:focus {
  background-color: #87d28d;
}

.text {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2f2f2f99;
  text-align: center;
}

.link {
  padding-left: 3px;
}

.spanLink {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #323f47;
}

.notification {
  position: fixed;
  top: 32px;
  right: 32px;
  background-color: #ef5050;
  border-radius: 2px solid red;
  color: #f0eff4;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: fade-in 0.5s ease;
}

@media screen and (min-width: 768px) {
  .section {
    width: 704px;
    margin: 32px;
  }

  .container {
    width: 100%;
    padding: 32px;
    border-radius: 30px;
    background-color: #f0eff4;
  }

  .logo {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 0;
  }

  .form {
    width: 436px;
    height: 506px;
    margin: 171px 102px 195px 102px;
  }

  .wrapForm {
    gap: 20px;
  }

  .titleSingUp {
    font-size: 36px;
    line-height: 38px;
  }

  .span {
    font-size: 16px;
    line-height: 24px;
  }

  form .wrapForm .formEl .inputWrap input[type="email"],
  form .wrapForm .formEl .inputWrap input[type="text"],
  form .wrapForm .formEl .inputWrap input[type="password"] {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    height: 56px;
  }

  .singUpBtn {
    height: 60px;
    padding: 18px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 24px;
  }

  .text {
    font-size: 16px;
    line-height: 24px;
  }

  .spanLink {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    width: 672px;
    margin: 0;
  }

  .container {
    height: 736px;
  }

  .form {
    margin: 74px 86px 100px 86px;
  }
}
