.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.16px;
  color: #323f47;
}

.btn__Primary {
  background-color: #00a0dc;
  color: #ffffff;
  border-radius: 4px;
  padding: 10px 20px;
}

.btn__Secondary {
  background-color: #ffffff;
  color: #00a0dc;
  border: 1px solid #00a0dc;
  border-radius: 4px;
  padding: 10px 20px;
}

.btn__svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
  stroke: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
