.dailyNorma {
  width: 102px;
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
  padding: 12px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
}
.titleNorma {
  color: #323f47;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
}
.subTitle {
  color: rgba(47, 47, 47, 0.6);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
}
@media screen and (min-width: 768px) {
  .dailyNorma {
    gap: 4px;
    padding: 14px 18px;
    width: 129px;
    height: 78px;
  }
  .titleNorma {
    font-size: 15px;
    line-height: 22.4px;
  }
  .subTitle {
    font-size: 12px;
    line-height: 22.4px;
  }
}
