.logoTracker {
  position: absolute;
  top: 24px;
  left: 16px;
  z-index: 1;
}

.waterMainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}

.waterContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}

.image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.waterMainInfo h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.waterMainInfo p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.waterMainInfo button {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
