.loginPage {
  display: flex;
  justify-content: center;
  background-color: white;
}

.advantagesSection {
  display: none;
}

@media screen and (min-width: 768px) {
  .loginPage {
  }
}

@media (min-width: 1440px) {
  .advantagesSection {
    display: block;
  }

  .loginPage {
    gap: 32px;
  }
}
