.calendarpagination {
  display: flex;
flex-direction:row;
  align-items: center;

  margin-bottom: 24px;
 
  
}
.month {
font-weight: 700;
font-size: 28px;
line-height: 1.14286;
letter-spacing: -0.01em;
color: #323f47;




}

.btnpagination {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  
}
.spanmonth {
  font-weight: 700;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.01em;
color: #323f47;

}

.iconpie {
height: 24px;
width: 24px;
  }
