.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.16px;
  color: #323f47;
}

.iconPlus {
  width: 30px;
  height: 30px;
  stroke-width: 0;
  background-color: #9be1a0;
  border-radius: 50%;
}
