.container {
  background-image: url("../../../../assets/img/bottle_for_water_1x.png");
  width: 472px;
  height: 604px;
  top: 92px;
  left: 100px;
  gap: 0px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .wrapper {
    background-image: url("../../../../assets/img/bottle_for_water_2x.png");
    width: 472px;
    height: 604px;
    top: 92px;
    left: 100px;
    gap: 0px;
  }
}
.containerBar {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  padding: 12px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
  width: 198px;
  height: 70px;
  top: 175px;
  left: 32px;
}
.title {
  color: #323f47;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
}
.sliderWrapper {
  width: 174px;
  height: 6px;
  border-radius: 9px;
  background-color: #f0eff4;
}
.percentBar {
  display: flex;
  align-items: center;
  gap: 49px;
  color: rgba(47, 47, 47, 0.6);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
}

.thumb {
  background-color: #9be1a0;
  width: 12px;
  height: 12px;
  gap: 0px;
  border: 1px;
  opacity: 0px;
} /* .track {
  background-color: rgba(155, 225, 160, 1);
  width: 138px;
  height: 8px;
  border-radius: 9px;
} */
.valueLabel {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--accent);
  color: var(--white);
  padding: 4px 8px;
  border-radius: 4px;
  pointer-events: none;
  z-index: 1;
  display: none;
}
.sliderWrapper:hover .valueLabel {
  display: block;
} /* .fifty {
  text-align: center;
} */
.customTooltip {
  background-color: #9be1a0 !important;
  color: #ffffff !important;
  font-size: 12px !important;
  border-radius: 8px !important;
  padding: 4px 8px !important;
}
.customArrow::before {
  background-color: #9be1a0 !important;
}

@media screen and (min-width: 768px) {
  .container {
    width: 374px;
    height: 477px;
  }
  .containerBar {
    gap: 6px;
    padding: 20px;
    top: 253px;
    left: 39px;
    width: 295px;
    height: 106px;
  }
  .title {
    font-size: 15px;
    line-height: 22.4px;
  }
  .sliderWrapper {
    width: 255px;
    height: 8px;
  }
  .percentBar {
    gap: 78px;
    font-size: 12px;
    line-height: 22.4px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 472px;
    height: 604px;
  }
  .containerBar {
    top: 358px;
    left: 88px;
  }
  .percentBar {
    gap: 78px;
    font-size: 12px;
    line-height: 22.4px;
  }
}
