.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 52px;
  width: 295px;
  height: 106px;
  top: 450px;
  left: 188px;
  border-radius: 15px;
  padding: 20px 0px 0px 0px;
  opacity: 0px;
  background-color: rgba(255, 255, 255, 1);
}

.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-darkblue);
  text-align: center;
}

.sliderWrapper {
  position: relative;
  width: 100%;
}

.thumb {
  background-color: rgb(255, 255, 255);
  width: 12px;
  height: 12px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.track {
  background-color: rgba(155, 225, 160, 1);
  height: 6px;
  border-radius: 3px;
}

.percentBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-darkblue);
  opacity: 0.8;
}

.valueLabel {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--accent);
  color: var(--white);
  padding: 4px 8px;
  border-radius: 4px;
  pointer-events: none;
  z-index: 1;
  display: none;
}

.sliderWrapper:hover .valueLabel {
  display: block;
}

.fifty {
  text-align: center;
}

.customTooltip {
  background-color: #9be1a0 !important;
  color: #ffffff !important;
  font-size: 12px !important;
  border-radius: 8px !important;
  padding: 4px 8px !important;
}

.customArrow::before {
  background-color: #9be1a0 !important;
}

@media screen and (min-width: 768px) {
  .container {
    gap: 10px;
    width: 300px;
    padding: 20px;
  }

  .title {
    font-size: 16px;
    line-height: 1.4;
  }

  .percentBar {
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    gap: 12px;
    width: 350px;
    padding: 24px;
  }

  .title {
    font-size: 18px;
  }

  .percentBar {
    font-size: 16px;
  }
}
